<div class="row text-center my-3">
    <div class="col-6 mt-5">
        <p class="fw-bold">Elérhetőségeink</p>
        <i class="bi bi-geo-alt-fill"> Skala Potamias, Skala (Thassos), Potamia 640 04, Görögország</i> <br>
        <i class="bi bi-telephone-fill me-3"> +36 1 987 65 43, +30 98765 43210</i> <br>
        <i class="bi bi-envelope-fill"> info@hotelyiorgos.com</i>
    </div>
    <div class="col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48341.289259173216!2d24.704041000000004!3d40.776746!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ae8d584b5615fd%3A0x1c00bd30206cf950!2zVGjDoXN6b3N6IDY0MCAwNCwgR8O2csO2Z29yc3rDoWc!5e0!3m2!1shu!2shu!4v1691528653691!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>