<div class="container">
    <div class="row">
        <h6 class="display-6">A Hotel Yiorgos története 1970-re nyúlik vissza</h6>
        <div class="col">
            <p>Quis cillum minim laborum do. Reprehenderit in veniam ex aliquip ut incididunt aliqua eiusmod excepteur proident ullamco sint. Nisi ex sint deserunt occaecat proident occaecat commodo cillum enim ullamco aliqua labore duis qui. In sunt magna cillum deserunt qui culpa qui dolor officia nisi Lorem cupidatat pariatur.
                Nisi eiusmod dolor veniam labore anim proident eu tempor eu aute. Adipisicing non ad deserunt officia officia aliquip consequat ipsum magna Lorem elit laboris. Mollit consequat voluptate laborum ea eiusmod. Nulla veniam voluptate laborum elit id pariatur laboris. Fugiat dolor dolore anim nostrud esse amet mollit anim aute fugiat.
                Proident officia irure sit duis ad dolore anim. Minim commodo ad reprehenderit esse. Quis laborum commodo ad consectetur aliqua ipsum excepteur fugiat dolor proident. Lorem ea do laboris aliquip duis. Voluptate ullamco aliquip ea non elit reprehenderit deserunt aliqua sit excepteur.</p>
            <p>Quis cillum minim laborum do. Reprehenderit in veniam ex aliquip ut incididunt aliqua eiusmod excepteur proident ullamco sint. Nisi ex sint deserunt occaecat proident occaecat commodo cillum enim ullamco aliqua labore duis qui. In sunt magna cillum deserunt qui culpa qui dolor officia nisi Lorem cupidatat pariatur.
                Nisi eiusmod dolor veniam labore anim proident eu tempor eu aute. Adipisicing non ad deserunt officia officia aliquip consequat ipsum magna Lorem elit laboris. Mollit consequat voluptate laborum ea eiusmod...</p>
        </div>
        <div class="col">
            <img class="img-fluid" src="../../assets/scenic-view-private-sandy-beach-with-sun-beds-parasokamy-sea-mountains-resort.jpg" alt="Kilátás">
        </div>
    </div>
    <hr style="width: 100%;">
    <div class="row">
        <h6 class="display-6">Családi vállalkozás évtizedek óta</h6>
        <div class="col-4">
            <img src="../../assets/istockphoto-1386479313-612x612.jpg" class="img-fluid" alt="">
            <p class="text-center">Példa Klára</p>            
        </div>
        <div class="col-8">
            <p>Quis cillum minim laborum do. Reprehenderit in veniam ex aliquip ut incididunt aliqua eiusmod excepteur proident ullamco sint. Nisi ex sint deserunt occaecat proident occaecat commodo cillum enim ullamco aliqua labore duis qui. In sunt magna cillum deserunt qui culpa qui dolor officia nisi Lorem cupidatat pariatur.
                Nisi eiusmod dolor veniam labore anim proident eu tempor eu aute. <br><br>
                Adipisicing non ad deserunt officia officia aliquip consequat ipsum magna Lorem elit laboris. Mollit consequat voluptate laborum ea eiusmod. Nulla veniam voluptate laborum elit id pariatur laboris. Fugiat dolor dolore anim nostrud esse amet mollit anim aute fugiat.
                Proident officia irure sit duis ad dolore anim. Minim commodo ad reprehenderit esse.<br>
                Quis laborum commodo ad consectetur aliqua ipsum excepteur fugiat dolor proident. Lorem ea do laboris aliquip duis. Voluptate ullamco aliquip ea non elit reprehenderit deserunt aliqua sit excepteur. Anim veniam aute esse exercitation ut incididunt anim culpa qui ipsum eu sint ut et.
                <br><br>
                Exercitation aute et eiusmod adipisicing irure ad id elit consequat elit qui et. Est qui proident ad exercitation in. Dolor magna in aliqua commodo consectetur proident. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p>Quis cillum minim laborum do. Reprehenderit in veniam ex aliquip ut incididunt aliqua eiusmod excepteur proident ullamco sint. Nisi ex sint deserunt occaecat proident occaecat commodo cillum enim ullamco aliqua labore duis qui. In sunt magna cillum deserunt qui culpa qui dolor officia nisi Lorem cupidatat pariatur.
                Nisi eiusmod dolor veniam labore anim proident eu tempor eu aute. <br><br>
                Adipisicing non ad deserunt officia officia aliquip consequat ipsum magna Lorem elit laboris. Mollit consequat voluptate laborum ea eiusmod. Nulla veniam voluptate laborum elit id pariatur laboris. Fugiat dolor dolore anim nostrud esse amet mollit anim aute fugiat.
                Proident officia irure sit duis ad dolore anim. Minim commodo ad reprehenderit esse.<br>
                Quis laborum commodo ad consectetur aliqua ipsum excepteur fugiat dolor proident. Lorem ea do laboris aliquip duis. Voluptate ullamco aliquip ea non elit reprehenderit deserunt aliqua sit excepteur. Anim veniam aute esse exercitation ut incididunt anim culpa qui ipsum eu sint ut et.
                <br><br>
                Exercitation aute et eiusmod adipisicing irure ad id elit consequat elit qui et. Est qui proident ad exercitation in. Dolor magna in aliqua commodo consectetur proident. </p>
        </div>
        <div class="col-4">
            <img src="../../assets/depositphotos_215719750-stock-photo-smiling-handsome-man-blue-shirt.jpg" class="img-fluid" alt="">
            <p class="text-center">Mintapulosz Grigorisz</p>            
        </div>
    </div>
</div>