<div class="container ">
    <div class="card mx-auto mt-5 mb-5 w-50 text-center">
        <div class="card-body">
            <h4>Bejelentkezés</h4>
            <div class="form-floating mb-3">
                <input [(ngModel)]="email" name="email" type="email" class="form-control" id="floatingInput" placeholder="peldapeter@minta.com">
                <label for="floatingInput">E-mail cím</label>
              </div>
              <div class="form-floating">
                <input [(ngModel)]="password" name="password" type="password" class="form-control" id="floatingPassword" placeholder="Jelszó">
                <label for="floatingPassword">Jelszó</label>
              </div>
              <button (click)="signIn(email, password)" class="btn btn-outline-secondary my-3 w-100">Bejelentkezés</button><br>
              
              <small>Vagy jelentkezzen be Google fiókjával:</small><br>
              <button (click)="googleAuth()" class="btn btn-outline-secondary my-3"><i class="bi bi-google"></i></button><br>
              <small>Elfelejtette a jelszavát? </small><br>
              <small>Kérjen új jelszót </small>
              <a routerLink="/forgot-password"><small>ITT</small></a><br>              
              <small>Nincs még fiókja? </small>
              <a routerLink="/sign-up"><small>Tovább a regisztrációhoz</small></a>
        </div>
        <div *ngIf="isError==true" class="alert alert-danger" role="alert">
            {{showError}}
        </div>
    </div>
</div>