<div class="card w-50 m-auto mt-5 mb-5">
    <div class="card-body">
        <h5 class="card-title">Köszönjük, hogy regisztrált!</h5>
        <p class="card-text">Küldtünk önnek egy visszaigazoló e-mailt</p>
        <p class="card-text">Kérjük ellenőrizze e-mail fiókjában és kattintson a visszaigazoló linkre!</p>
        <button (click)="sendMail()" class="btn btn-primary">Visszaigazoló email újraküldése</button>
        <button routerLink="/sign-in" class="btn btn-primary">Tovább a bejelentkezéshez</button>
    </div>
</div>