<div class="container">
    <div class="card w-50 m-auto mt-5 mb-5 text-center">
        <div class="card-body">
            <h4 class="card-title">Jelszóvisszaállítás</h4>
            <div class="card-text my-1"><small>Kérjük adja meg a fiókjához tartozó e-mail címét.</small></div>
            <div class="form-floating mb-3">
                <input [(ngModel)]="userMail" name="email" type="email" class="form-control" id="floatingInput" placeholder="E-mail cím">
                <label for="floatingInput">E-mail cím</label>
            </div>
            <button (click)="forgotPassword(userMail)" class="btn btn-outline-secondary w-100 mb-3">E-mail küldése</button><br>
            <a routerLink="/sign-in"><small>Tovább a bejelentkezéshez</small></a>
        </div>
    </div>
</div>