<div class="container">
    <h3 class="display-3 my-3 text-center">Szobáink</h3>
    <div class="row">
        <div class="col-6">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur quisquam voluptatibus suscipit quam expedita dolor aliquid corrupti nemo repellendus corporis maxime labore asperiores laborum eum, laudantium officia quas a beatae ipsam illum fugiat id dignissimos excepturi tempora. Ex exercitationem officiis possimus optio accusamus nihil eum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempora, optio sint beatae praesentium delectus recusandae ducimus officiis laborum eos modi placeat, in id temporibus similique, dolor est molestiae aliquid qui? Pariatur cumque voluptas doloribus harum repellendus ea labore qui veritatis ullam totam! Numquam aut quas possimus, omnis natus praesentium?</p>
            <button routerLink="/sign-in" class="btn btn-light w-100">Foglaljon most!</button>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../../../assets/room-1.jpg" alt="room-1">
        </div>
    </div>
    <div class="row my-3">
        <div class="col-6">
            <img class="img-fluid" src="../../../assets/room-2.jpg" alt="room-2">
        </div>
        <div class="col-6">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur quisquam voluptatibus suscipit quam expedita dolor aliquid corrupti nemo repellendus corporis maxime labore asperiores laborum eum, laudantium officia quas a beatae ipsam illum fugiat id dignissimos excepturi tempora. Ex exercitationem officiis possimus optio accusamus nihil eum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempora, optio sint beatae praesentium delectus recusandae ducimus officiis laborum eos modi placeat, in id temporibus similique, dolor est molestiae aliquid qui? Pariatur cumque voluptas doloribus harum repellendus ea labore qui veritatis ullam totam! Numquam aut quas possimus, omnis natus praesentium?</p>
                <button routerLink="/sign-in" class="btn btn-light w-100">Foglaljon most!</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur quisquam voluptatibus suscipit quam expedita dolor aliquid corrupti nemo repellendus corporis maxime labore asperiores laborum eum, laudantium officia quas a beatae ipsam illum fugiat id dignissimos excepturi tempora. Ex exercitationem officiis possimus optio accusamus nihil eum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempora, optio sint beatae praesentium delectus recusandae ducimus officiis laborum eos modi placeat, in id temporibus similique, dolor est molestiae aliquid qui? Pariatur cumque voluptas doloribus harum repellendus ea labore qui veritatis ullam totam! Numquam aut quas possimus, omnis natus praesentium?</p>
            <button routerLink="/sign-in" class="btn btn-light w-100">Foglaljon most!</button>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../../../assets/room-3.jpg" alt="room-3">
        </div>
    </div>
</div>