<div class="container-fluid background">
    <div class="row text-center">
        <div class="text">
            <h1 class="display-1 fw-bold">Hotel Yiorgos</h1>
            <h5 class="display-6 mb-5">- Határtalan pihenés Thászoszon -</h5>
        </div>
    </div>

   <!--  <div class="container">
        <div class="row mt-5 text-center">
            <div class="col">
                <button routerLink="/sign-up" class="btn btn-light w-75 rounded-0">Regisztráljon és foglaljon szobát még ma!</button>
            </div>
        </div>
    </div> -->
</div>
<div class="container-fluid">
    <div class="row">
        <h6 class="display-6 text-center py-4 ">Szolgáltatásaink</h6>
        <div class="row">
            <div class="col-3">
                <img class="img-fluid" routerLink="/sign-up" src="../../assets/lobby.jpg" alt="">
            </div>
            <div class="col-3">
                <img class="img-fluid" src="../../assets/food.jpg" alt="">
            </div>
            <div class="col-3">
                <img class="img-fluid" src="../../assets/massage.jpg" alt="">
            </div>
            <div class="col-3">
                <img class="img-fluid" src="../../assets/beach.jpeg" alt="">
            </div>
        </div>
        <div class="row py-4">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.<br>
            Quis amet amet sint do cillum ea voluptate elit aliquip cillum irure amet. Deserunt occaecat duis incididunt et magna sunt anim officia. Ad aliquip labore incididunt duis et eu minim commodo deserunt Lorem exercitation. Exercitation excepteur nisi id nisi in commodo cillum excepteur tempor. Sint deserunt non aliquip incididunt laborum esse minim ex. Eu sint amet laborum laboris do.</p>
        </div>
    </div>
</div>